
@media screen and (max-width:800px) {
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }
}

@media screen and (max-width:800px) {
    /* responsivo da hero */
    .hero-site .txt-hero h1{
        font-size: 2.5em;
        line-height: 40px;
    }
    
    .hero-site .txt-hero h1 span{
        display: inline;
    }
    
    .hero-site .txt-hero p{
        font-size: 15px;
        text-shadow: 0 4px 6px black;
    }
    
    .hero-site button{
        width: 200px;
        height: 50px;
        font-size: 18px;
    }


/* responsivo das vantagens */

    .vantagens .itens-container{
        flex-direction: column;
    }

    .vantagens .itens-container .img-itens img{
    width: 100%;
    }

    .vantagens .itens-container .txt-itens p{
        margin-bottom: 20px;
    }

    .vantagens .itens-container .item-1{
        order: 1;
    }

    .vantagens .itens-container .item-2{
        order: 0;
    }

    /* responsivo dos botoes de contato */
 
    .txt-contato, .icons-contato{
        display: block;
        width: 100%;
    
    }

    .contato .txt-contato h3{
        font-size: 2.5em;
        line-height: 40px;
        text-align: center;
    }

    .contato .txt-contato p{
        padding-bottom: 10px;
        text-align: center;
    }

    .contato .icons-contato button{
        width: 100%;
    }
}